<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Главная</a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
            <div class="card my-4">
                <h5 class="card-header">Контакты</h5>
                <div class="card-body">
                    <a class="contact instagram" target="_blank" href="https://instagram.com/slonyaksenof">@slonyaksenof</a>
                    <a class="contact telegram" target="_blank" href="https://t.me/slonyaksenof">@slonyaksenof</a>
                    <a class="contact vk" target="_blank" href="https://vk.com/slonyaksenof">@slonyaksenof</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
